body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Permet au corps de remplir toute la hauteur de la fenêtre
  }
  
  nav {
    margin-top: 10px;
    background-color: #333;
    padding: 10px 0;
  
    ul {
      list-style-type: none; // Supprime les puces
      padding: 0; // Supprime le rembourrage
      margin: 0; // Supprime la marge
      display: flex; // Utilise flexbox pour disposer les éléments en ligne
      justify-content: center; // Centre les éléments
  
      li {
        margin: 0 10px; // Espacement entre les éléments
  
        a {
          color: white; // Couleur du texte
          text-decoration: none; // Supprime le soulignement
  
          &:hover {
            text-decoration: underline; // Ajoute un soulignement au survol
          }
        }
      }
    }
  }
  
  .contact-info {
    flex: 1; // Prend tout l'espace disponible entre le nav et le footer
    display: flex;
    flex-direction: column; // Aligne les éléments verticalement
    justify-content: center; // Centre verticalement
    align-items: center; // Centre horizontalement
    background-color: #f0f0f0; // Couleur de fond
    padding: 20px; // Espacement interne
    border: 1px solid #ccc; // Bordure
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombre portée
    margin: 10px; // Marges autour du rectangle
  
    h1 {
      margin-bottom: 20px; // Espace en dessous du titre
    }
  
    p {
      font-size: 16px;
      color: #333;
      line-height: 1.6;
    }
  }
  
  footer {
    background-color: #333; // Couleur de fond du footer
    color: white; // Couleur du texte
    text-align: center; // Centre le texte
    padding: 10px 0; // Espacement interne
  
    .footer-container {
      max-width: 1200px; // Largeur maximum du conteneur
      margin: 0 auto; // Centre le conteneur
      padding: 0 20px; // Rembourrage
    }
  }
  